body{
    font-size: 30px;
    background-image: url('images/image5.jpg');
   background-repeat:no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   padding-bottom: 8%;
   width: auto;
 scroll-behavior: smooth;

}